<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto my-2">
      <h2 class="mb-4">商品編集</h2>
      <%= render 'form', item: @item %>
    </div>
  </div>
</div>
