<div class="text-center">
  <h1>About</h1>
  <p>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
    様々なバリエーションをご⽤意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
     ぜひご注⽂ください。
  </p>
  
  <div class="cake-img">
    <%= image_tag 'sweets_pancake.png', size:'300x300' %>
  </div>
</div>