<div style="text-align: center; margin: 50px">
  <h1 style="font-size: 45px;">About</h1>
  <p style="font-size: 20px;">
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
    様々なバリエーションをご⽤意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
     ぜひご注⽂ください。
  </p>
  
  <div class="cake-img">
    <%= image_tag 'sweets_pancake.png', size:'350x350' %>
  </div>
</div>