<h1>会員一覧</h1>

<table>
  <thead>
    <tr>
      <td>会員ID</td>
      <td>氏名</td>
      <td>メールアドレス</td>
      <td>ステータス</td>
    </tr>
    <% @customers.each do |customer| %>
    <% end %>
  </thead>
</table>