<div class="container col-xl-8 col-lg-9 my-4 px-sm-0">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 130px;">会員一覧</h5>
  </div>
  <div class="mx-auto col-10">

    <table class="table">
      <thead>
        <tr>
          <th class="bg-light">会員ID</td>
          <th class="bg-light">氏名</td>
          <th class="bg-light">メールアドレス</td>
          <th class="bg-light">ステータス</td>
        </tr>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td class="link-black"><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer) %></td>
          <td><%= customer.email %></td>
          <% if customer.is_deleted == false %>
            <td class="text-success">有効</td>
          <% else %>
            <td class="text-muted">退会</td>
          <% end %>
        </tr>
      <% end %>
    </thead>
  </table>

    <div>
      <%= paginate @customers, theme: 'bootstrap-5' %>
    </div>

  </div>
</div>