<div class="container my-4 px-sm-1">
  <div class="px-1 ml-md-2">
    <h5 class="bg-light text-center ml-5 mb-4" style="width: 140px;">ジャンル編集</h5>
  </div>
  <div class="col-sm-12 col-md-10 col-lg-9 col-xl-7 px-sm-0 px-md-1">
    <%= form_with(model: @genre, url: admin_genre_path(@genre), class: 'form') do |form| %>
    <%= render 'layouts/errors', obj: @genre %>
      <div class="col form-group mb-4 d-flex px-2 my-4">
        <div class="col-md-9 form-row px-0">
          <div class="col-md-3 px-md-0 d-flex align-items-center">
            <label class="col-form-label font-weight-bold">ジャンル名</label>
          </div>
          <div class="col-9 col-sm-7 col-md-5 px-md-3">
            <%= form.text_field :name, class: 'form-control' %>
          </div>
          <div class="col-md-4 pl-md-3 mt-2 mt-md-0">
            <%= form.submit '変更を保存', class: 'btn btn-success px-4' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
