@use '~bootstrap/scss/bootstrap';

// Fontawesome
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

// mainが少ない時フッターを下に固定化
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

// ページネーション中央揃え
.pagination {
  justify-content: center;
}

.cart-item-mount {
  display: inline-block;
}

.container table td {
  vertical-align: middle;
}

.link-black a {
  color: black;
  text-decoration: underline;
}

.link-black a:hover {
  color: black;
  text-decoration: none;
}

