@use '~bootstrap/scss/bootstrap';

// Fontawesome
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.pagination {
  justify-content: center;
}

.cart-item-mount {
  display: inline-block;
}

.container table td {
  vertical-align: middle;
}