<table class="table table-bordered text-center">
  <tr>
    <th>ジャンル検索</th>
  </tr>
  <tr>
    <td>
      <div class="d-flex flex-column">
        <% @genres.each do |genre| %>
          <%= link_to items_path(genre_id: genre.id), class: "text-dark pt-sm-3" do %>
            <%= genre.name %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
</table>