<% if obj.errors.any? %>
  <div id="error_explanation" class="alert alert-danger p-0 mb-2">
    <ul class="mb-0">
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
